.event-slider .swiper-button-next-second, .event-slider .swiper-button-prev-second  {
    position: absolute;
    z-index: 10;
    top: unset !important;
    bottom: 20px !important;
    width: 50px;
    height: 50px;
}


.swiper-button-prev-second svg, .swiper-button-next-second svg {
    height: 100px;
    width: 80px;
    stroke: #002A5F;
}

.swiper-button-prev-second::after, .swiper-button-next-second::after {
    display: none !important;
}

.event-slider .swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: #002A5F !important;
}
