.swiper-button-next-partners {
  position: absolute;
  z-index: 10;
  top: unset !important;
  bottom: 20px !important;
  color: white;
  right: 0;
}

.swiper-button-prev-partners {
  position: absolute;
  z-index: 10;
  top: unset !important;
  bottom: 20px !important;
  color: white;
  left: 0;
}

@media (max-width: 991px) {
  .swiper-button-next-partners,
  .swiper-button-prev-partners {
    display: none;
  }
}
.marquee-track {
  --marquee-copies: 2;
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
  backface-visibility: hidden;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-100% / var(--marquee-copies)), 0, 0);
  }
}
