@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-text {
    color: #002A5F;
}

.card-details {
    color: #b3c0cf;
}

.main-background-color {
    background: #002A5F;
}

.text-color {
    color: #6A6A6A;
}

.react-datepicker__close-icon::after {
    background-color: #002A5F !important;
}

.main-slider {
    --tw-gradient-from: #002A5F;
    --tw-gradient-to: rgb(0 0 0 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.react-international-phone-country-selector-button {
    padding: 10px !important;
    height: 100% !important;
}

.react-international-phone-input-container .react-international-phone-input {
    width: 100%;
    height: 100% !important;
    padding: 14px !important;
}

.row-item {
    border-left: 2px solid #002A5F;
    padding-left: 12px;
}

.my-container{
    max-width: 1920px;
    margin: 0 auto;
}