@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-text{
    color:#002A5F;
}

.blue-border{
    color:#002A5F;
}

.card-details{
    color: #b3c0cf;
}

.react-datepicker__close-icon::after {
    background-color: #002A5F !important;
}

.main-slider {
    --tw-gradient-from: #002A5F;
    --tw-gradient-to: rgb(0 0 0 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
